@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    height:100vh;
    box-sizing: border-box;
    background-color: #262D33;
    color: #f6f6f6;
}

.main{
    display: flex;
    
}

.titulo-destaque{
      color:#3598F0;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    width: 593px;
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao_conteudo_texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_links{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400px;
    font-size: 24px;
}

.apresentacao_links_botao{
    /* background-color: #3598F0; */ 
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #3598F0;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_links_botao:hover {
    background-color: #3b4752;
}

.apresentacao_foto_avulsa {
    width: 488px;
    height: 550px;
}